:root {
  background-color: #0a5d0e;
  font-size: 62.5%; /* Sets the base font size to 10px */
  background: url("tension.gif") no-repeat center center/cover;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
.frosted-glass {
  background: var(--glass-bg-color); /* Semi-transparent black */
  backdrop-filter: blur(var(--glass-blur)); /* Frosted glass effect */
  border-radius: 15px; /* Rounded corners */
  padding: 2rem; /* Padding for spacing */
  text-align: center; /* Center the text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow effect */
  max-width: 600px; /* Adjust width as needed */
  margin: auto; /* Center horizontally */
  position: relative; /
}
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}
.hero-content {
  max-width: 650px;
  background: rgba(191, 186, 186, 0.7);
  padding: 25px;
  border-radius: 20px;
}

h1 {
  font-size: 5.4rem;
  color: #0a5d0e; /* Changed to a more readable white */
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #ae0a0a;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #d52c2c;
  border-radius: 0.5rem; /* Rounded corners for a modern look */
  transition: background-color 0.3s, transform 150ms; /* Smooth transitions */
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #1c81d4;
  transform: translateY(-0.1rem);
  background-color: #c81d1d; /* Darker red on hover */
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
