body {
  background: url("relief.gif") no-repeat center center/cover;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

#question {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}

#choices {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.choice-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  width: 80%;
  cursor: pointer;
}

.choice-container:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.choice-text {
  font-size: 1.5rem;
  margin: 0;
}

.nav-buttons {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#next,
#back,
#submit-btn {
  background-color: #ffa500;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 150ms;
  font-size: 15px;
}

#next:hover,
#back:hover,
#submit-btn:hover {
  background-color: #ff7f00;
}

#result {
  display: none;
  flex-direction: column;
  align-items: center;
}

#result-text {
  font-size: 2rem;
  margin-bottom: 20px;
}

#play-again {
  background-color: #ffa500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 150ms;
}

#play-again:hover {
  background-color: #ff7f00;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background iframe {
  width: 100%;
  height: 100%;
    border: 0;
}
.choice-container.selected {
  background-color: rgba(
    0,
    255,
    0,
    0.2
  ); /* Light green background for selected choice */
  border: 2px solid rgba(0,  255,  0,  0.5);
}
.choice-container.selected {
  background-color: rgba(
    0,
    255,
    0,
    0.2
  ); /* Light green background for selected choice */
  border: 2px solid rgba(0,  255,  0,  0.5);
}
