* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

.hero {
  height: 100vh;
  background: url("shri.gif") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.hero-content {
  max-width: 650px;
  background: rgba(191, 186, 186, 0.7);
  padding: 25px;
  border-radius: 20px;
}

.hero-title {
  background: linear-gradient(90deg, #ae2a2a, #08763d);
  font-family: Kalnia greze;
  font-size: 40px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.cta-button {
  width: 10px;
  height: 10px;
  background-color: #ff6347;
  color: #ffffff;
  padding: 1em 2em;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
